
        .noise-overlay {
            background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
            opacity: 0.03;
            pointer-events: none;
        }
  .floating-label-input label{
        position:absolute;
        left:16px;
        top:18px;
        padding:0 6px;
        background:#131315;
        transform-origin:left top;
        transition:all .25s ease;
        pointer-events:none;
    }
        .floating-label-input:focus-within label,
        .floating-label-input input:not(:placeholder-shown) + label {
            transform: translateY(-24px) scale(0.85);
            color: #f5bd5c;
        }

        .step-transition {
            transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
        }

        /* Hide Scrollbar */
        ::-webkit-scrollbar { display: none; }
        * { -ms-overflow-style: none; scrollbar-width: none; }
    